p{
    text-align: justify;
}
h1{
   color: red;

}
h5{
    text-align: center;
    margin: 20px;
}
.footer-section {
    position: absolute; 
    bottom: 0; 
    width: 100%;
    height: 200px; 
    background: linear-gradient(to right, white, rgba(0,0,0,0.5));
    clip-path: ellipse(90% 70% at 50% 70%); 
    z-index: -1; 
  }
  
   @media (max-width: 768px) {
    .footer-section {
      position: relative;
      height: 60px; 
      clip-path: ellipse(100% 60% at 50% 80%);
    } 
}