<h5>About me</h5>
    <div class="container-fluid row mt-5 ">
        <div class="container col-6 col-md-5">
    <h1>Education</h1>
    <p>
        I have completed BE CSE in 2024 at Jayaraj Annapackiam CSI College
        of Engineering
      </p>
      <p>
        During college, I attended a National Level Conference on Innovative
        Technologies, where I won the Best Paper Award for my paper titled
        "Local Governance Dynamics: Insight from Panchayat Issue
        Management." I also participated in a national conference with the
        paper titled "Statistical Machine Learning Approaches to Liver
        Diseases" at Dr. Sivanthi Aditanar College of Engineering in April
        2023. In October 2023, I participated in an inter-college project
        expo at Jayaraj Annapackiam CSI College of Engineering, showcasing
        an online shopping website. Additionally, in September 2023, I
        presented the paper "Statistical Machine Learning Approaches to
        Liver Diseases" at an International Virtual Conference on Innovative
        Technologies, organized by PSN College of Engineering and
        Technology.
      </p>
    </div>
        <div class="conatiner col-6 col-md-6">
            <h1>Technical skills</h1>
            <p>
              I am proficient in frontend web technologies such as Angular, and I
              enjoy creating responsive websites using Bootstrap. I also use
              GitHub for version control.I have a basic understanding of backend
              technologies and am currently learning Node.js and MongoDB.
            </p>
            <br>
            <h1>Internship</h1>
            <p>Complemented by one month of internship experience in Angular and a week of internship experience in Flutter,
               I am currently pursuing a MEAN stack web development course at Softlogic Systems.</p>
        </div>
    </div>

<div class="footer-section"></div>