<div class="container mt-5" id="contact" >
   <div class="container row p-5">
<div class="container col-6">
  This is my contact info!!
</div>
<div class="container col-6">
  <p>
    <a href="mailto:harivarshni.sr&#64;gmail.com" class="text-decoration-none">
      <i class="fa fa-envelope text-dark p-1 bg-white" id="icon"></i>harivarshni.sr&#64;gmail.com
    </a>
  </p>
  <p>
    <a href="https://github.com/Harini-sr" target="_blank" class="text-decoration-none">
      <i class="bi bi-github text-dark bg-white p-1" id="icon"></i>GitHub profile
    </a>     
  </p> 
  <p>
    <a href="https://www.linkedin.com/in/harivarshini/" target="_blank" class="text-decoration-none">
      <i class="bi bi-linkedin text-dark bg-white p-1" id="icon"></i>Linked in 
    </a>
  </p>
</div>
   </div>
</div>
<div class="footer-section"></div>