<div class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-lg">
      <div>  <a class="navbar-brand" href="#">portfolio</a></div>
      <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a routerLink="" class="nav-link">Home</a> </li>
        <li class="nav-item"><a routerLink="/about" class="nav-link">About</a> </li>
        <li class="nav-item"><a routerLink="/project" class="nav-link">Project</a> </li>
        <li class="nav-item"><a routerLink="/resume" class="nav-link">Resume</a> </li>
        <li class="nav-item"><a routerLink="/contact" class="nav-link">Contact</a> </li>
      </ul>
    </div>
     
    </nav> 
  </header>
</div>

<router-outlet></router-outlet>
