
 <div class="container-fluid row align-items-center">
    <!-- Image Section -->
    <div class="container col-6 col-md-3 text-center">
      <img [src]="imagePath" class="img-fluid" alt="Profile Image">
    </div>
  
    <!-- Text Section -->
    <div class="container col-12 col-md-6 mt-3 mt-md-5 text-center text-md-start">
      <h1>Hi,</h1>
      <h1>I'm Harivarshini Sr,</h1>
      <h1>I'm a Software Developer</h1>
      <p>
        This is my portfolio, where you can learn more about me and my projects.
      </p>
      <button class="btn"> <a routerLink="/about" class="text-decoration-none">Read more...</a> </button>
    </div>
  </div>
  <div class="footer-section"></div>
  